services:
  diabetologie:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: diabetologie
    ports:
      - "3007:3007"   # le conteneur écoute maintenant sur 3007
    environment:
      - NODE_ENV=production
      - PORT=3007
      - HOST=0.0.0.0
      - NITRO_PORT=3007
      - NITRO_HOST=0.0.0.0
      - NEXT_TELEMETRY_DISABLED=1
      - NUXT_PUBLIC_API_BASE=https://portal.digitalssolutions.de/api
      - API_LOGIN_EMAIL=${API_LOGIN_EMAIL}
      - API_LOGIN_PASSWORD=${API_LOGIN_PASSWORD}
      - API_TENANT_KEY=${API_TENANT_KEY}
    restart: unless-stopped
    networks:
      - traefik-net
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      
      # HTTP (Port 80) → Redirect auf HTTPS
      - "traefik.http.routers.diabetologie-http.entrypoints=frontendsecure"
      - "traefik.http.routers.diabetologie-http.rule=Host(`diabetologie-derschlag.de`)"
      - "traefik.http.routers.diabetologie-http.middlewares=diabetologie-https"

      - "traefik.http.middlewares.diabetologie-https.redirectscheme.scheme=https"
      
      # Redirect diabetologie.de → www.diabetologie.de
#      - "traefik.http.routers.diabetologie-root.entrypoints=frontendsecure"
#      - "traefik.http.routers.diabetologie-root.rule=Host(`diabetologie.de`)"
#      - "traefik.http.routers.diabetologie-root.middlewares=diabetologie-www-redirect"
#      - "traefik.http.routers.diabetologie-root.tls=true"

#      - "traefik.http.middlewares.diabetologie-www-redirect.redirectregex.regex=^https?://diabetologie-derschlag\\.de(.*)"
#      - "traefik.http.middlewares.diabetologie-www-redirect.redirectregex.replacement=https://www.diabetologie-derschlag.de$1"
#      - "traefik.http.middlewares.diabetologie-www-redirect.redirectregex.permanent=true"
      
      # HTTPS Router
#      - "traefik.http.routers.diabetologie.entrypoints=frontendsecure"
#      - "traefik.http.routers.diabetologie.rule=Host(`www.diabetologie-derschlag.de`)"
#      - "traefik.http.routers.diabetologie.tls=true"

networks:
  traefik-net:
    external: true